Flask==3.0.0
flask-login==0.6.3
pymongo==4.6.1
python-dotenv==1.0.0
werkzeug==3.0.1
Pillow==10.1.0
qrcode==7.4.2
boto3==1.34.10
botocore==1.34.10
certifi==2023.11.17
gunicorn==21.2.0
python-dateutil==2.8.2
reportlab==4.0.7
requests==2.31.0
